.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 70px;

    .container {
        height: 100%;
        align-items: center;
    }
}